page-what-to-expect {
  #wteslides{
    height: 200px;
    margin-bottom: -10px;
  }
  .wteslide{
    height: 200px;
    width: 100% !important;
    background: linear-gradient(to bottom, #000000 197px, #ffffff 2px);
  }
  .wteslidemessage{
    background-color: rgba(0,0,0,0.90);
    padding: 1px;
  }
  #post-1534{
    padding: 20px;
  }
}
