page-home {
  /*/#map{
    height: 0%;
    width: 100%;
  }/**/
  ion-item{
    width: 100px;
  }
  #homeslides{
    height: 235px;
    margin-bottom: -20px;
  }
  .homeslide{
    height: 200px;
  }
  .homeslidemessage{
    background-color: rgba(0,0,0,0.90);
    padding: 1px;
  }
  .swiper-pagination-bullet{
    border-radius: 25%;
    width: 25px;
    height: 15px;
  }
  .swiper-pagination-bullet-active{
    background: rgba(0,0,0,0.90);
  }
  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 10px;
  }
}
