<!--
  Generated template for the GroupsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="theme">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Groups</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!--div style="height: 40px;">
  </div-->
  <ion-card *ngFor="let aGroup of groupData" (click)="goToGroup(aGroup.title)">
    <img style="height:150px;" src="https://response.restoration.noaa.gov/sites/default/files/images/13/citizen-science-volunteers-beach-california_creative-commons-heal-the-bay-ana-luisa-ahern_980.jpg"/>
    <ion-card-content>
      <ion-card-title>
          {{aGroup.title}}
      </ion-card-title>
      <p>
        {{aGroup.description}}
      </p>
      <!--button ion-button clear>Join</button-->
    </ion-card-content>
  </ion-card>

  <ion-fab *ngIf="role === 'Admin'" right bottom>
  <button ion-fab color="theme" (click)="addGroup()">
    <ion-icon name="add"></ion-icon>
  </button>
  </ion-fab>

</ion-content>
