page-groups {
  @media screen and (max-width: 699px){
    .sidebar{
      display: none;
    }
  }

  @media screen and (min-width: 700px){
    .sidebar{
       //display: block;
    }
  }

  .result-bar ion-row ion-col {
    text-align: center;
    padding-bottom: 2px;
  }

  .result-bar p{
    margin: 0px;
  }
}
