<!--
  Generated template for the GroupsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="theme">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Groups</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <!--div style="height: 40px;">
  </div-->
  <ion-list>
    <ion-row style="padding: 20px; padding-bottom: 0px; padding-top: 5px;">
      <ion-col>
        <p style="float: right; font-weight: 500; margin: 8px;">
          Join
        </p>
      </ion-col>
    </ion-row>
  </ion-list>
  <ion-list style="margin-bottom: 0px;" *ngFor="let aGroup of groupData" (click)="goToGroup(aGroup.title)">
    <ion-row style="padding: 15px; padding-bottom: 0px;">
      <ion-col >
        <img align="left" style="object-fit: cover; border-radius: 5px; height: 150px; width: 100%; margin-bottom: 10px;" src="https://response.restoration.noaa.gov/sites/default/files/images/13/citizen-science-volunteers-beach-california_creative-commons-heal-the-bay-ana-luisa-ahern_980.jpg"/>
          <h6 style="margin: 0px; display: inline-block; width: 100px;">{{aGroup.title}}</h6>
          <p style="float: right; margin: 0px;">
          members: 0
          </p>
          <p>
            {{aGroup.description}}
          </p>
      </ion-col>
    </ion-row>
      <!--button ion-button clear>Join</button-->
  </ion-list>

  <ion-fab *ngIf="role === 'Admin'" right bottom>
  <button ion-fab color="theme" (click)="addGroup()">
    <ion-icon name="add"></ion-icon>
  </button>
  </ion-fab>

</ion-content>
