<ion-header class="imageheader">
  <ion-navbar transparent color="dark" >

    <!--ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons-->
  </ion-navbar>
  <ion-title *ngIf="role === 'Admin'">
    <ion-input (ionChange)="updateTitle()" [(ngModel)]="title" placeholder="{{title}}" type="text"></ion-input>
  </ion-title>
  <ion-title *ngIf="role === 'none'">
    {{title}}
  </ion-title>
</ion-header>


<ion-content fullscreen="true">
  <ion-list>
    <ion-row>
      <ion-col>
        <ion-input *ngIf="role === 'Admin'" (ionChange)="updateDescription()" [(ngModel)]="description" placeholder="{{description}}" type="text"></ion-input>
        <p *ngIf="role === 'none'">
          {{description}
        </p>
      </ion-col>
    </ion-row>
  </ion-list>
  <ion-list>
    <ion-row>
      <ion-col>
        <button ion-button full color="theme" (click)="joinGroup()">Join</button>
      </ion-col>
    </ion-row>
  </ion-list>
  <ion-list>
    <ion-row>
      <ion-col>
        <button ion-button (click)="deleteGroup()"></button>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
