<!--
  Generated template for the GroupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="imageheader" style="
background: url('https://response.restoration.noaa.gov/sites/default/files/images/13/citizen-science-volunteers-beach-california_creative-commons-heal-the-bay-ana-luisa-ahern_980.jpg') no-repeat center center;
height: 200px;
background-size: cover;
text-align: center;
">
<div style="
    z-index: 1000;
    width: auto;
    margin: 0px;
    background: rgba(0, 200, 250, .75);
    min-height: 200px;
    overflow: auto;
    position: relative;
">
  <ion-navbar transparent >

    <!--ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons-->
  </ion-navbar>
  <ion-title *ngIf="role === 'Admin'">
    <ion-input (ionChange)="updateTitle()" [(ngModel)]="title" placeholder="{{title}}" type="text"></ion-input>
  </ion-title>
  <ion-title *ngIf="role === 'none'">
    {{title}}
  </ion-title>
</div>
</ion-header>


<ion-content fullscreen="true">
  <ion-list>
    <ion-row>
      <ion-col>
        <ion-input *ngIf="role === 'Admin'" (ionChange)="updateDescription()" [(ngModel)]="description" placeholder="{{description}}" type="text"></ion-input>
        <p *ngIf="role === 'none'">
          {{description}}
        </p>
      </ion-col>
    </ion-row>
  </ion-list>
  <ion-list>
    <ion-row>
      <ion-col>
        <button ion-button full color="theme">Join</button>
      </ion-col>
    </ion-row>
  </ion-list>
  <ion-list>
    <ion-row>
      <ion-col>
        <button ion-button (click)="deleteGroup()"></button>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
