page-group {
  .menuicon{
    color: black;
  }
  ion-title{
    margin-top: 25px;
    vertical-align: middle;
  }
  .toolbar-title-md{
    font-size: 3rem;
    color: white;
  }
  .toolbar-title-ios{
    font-size: 3rem;
    color: white;
  }
}
