page-group {
  .menuicon{
    color: black;
  }
  .imageheader{
    background-color: rgba(50, 50, 50, .9);
    //background-image: url('https://response.restoration.noaa.gov/sites/default/files/images/13/citizen-science-volunteers-beach-california_creative-commons-heal-the-bay-ana-luisa-ahern_980.jpg');
    height: 200px;
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
  }
  ion-title{
    //margin-top: 25px;
  }
  .toolbar-title-md{
    font-size: 3rem;
    color: white;
    line-height: 2.5;
    //vertical-align: middle;
  }
  .toolbar-title-ios{
    font-size: 3rem;
    color: white;
    line-height: 2.5;
    //vertical-align: middle;
  }
  .text-input-md{
    text-align: center;
  }
  .text-input-ios{
    text-align: center;
  }
}
