.scroll-content {
    overflow-y: auto !important;
}

.ios {
  .navbuttonends {
    margin-top: 15px;
    margin-right: -6px;
  }
}

.navbuttonends {
  margin-top: 6px;
  margin-right: 3px;
}

.popdrop {
   padding-left: 0px;
   padding-right: 0px;
   margin: 0px;
}

.bar-button-md {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.bar-button-ios {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.menubutton{
  box-shadow: none !important;
  border-color: rgba(0,0,0,0) !important;
  outline: none !important;
  background-color: transparent;
}

.menubutton:active{
  box-shadow: none !important;
  border-color: rgba(0,0,0,0) !important;
  outline: none !important;
  background-color: transparent;
}

.menubutton:hover{
  box-shadow: none !important;
  border-color: rgba(0,0,0,0) !important;
  outline: none !important;
  background-color: transparent;
}

menubutton button button-md button-default button-default-md button-md-menu{
  background-color: transparent;
}

icon icon-md ion-md-more{
  color: inherit;
}

.container-npnm{
  padding:0px;
  margin:0px;
}

.container-np{
  padding:0px;
}

.container-nm{
  margin:0px;
}

.overlay{
    z-index: 1000;
    width: auto;
    height: 150px;
    overflow: auto;
    position: relative;
}

.overlay-black-90{
  background-color: rgba(0, 0, 0, .9);
}

.overlay-black-75{
  background-color: rgba(0, 0, 0, .75);
}

.overlay-black-50{
  background-color: rgba(0, 0, 0, .5);
}

.overlay-dark-gray-90{
  background-color: rgba(50, 50, 50, .9);
}

.rounded-five-px{
  border-radius: 5px;
}

.item-md ion-thumbnail{
  max-height: 50px !important;
}

.nav-menu-icons{
  padding-left: 20px;
  padding-right: 20px;
}

// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
