<!--
  Generated template for the SermonsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="theme">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sermons</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card *ngFor="let aSermon of sermons" (click)="goToSermon(aSermon.id, aSermon.slug, aSermon.title.rendered)">
    <ion-card-header>
      {{aSermon?.title.rendered}}
    </ion-card-header>
    <ion-card-content>
      <div [innerHTML]="aSermon?.excerpt.rendered">

      </div>
      <br />
      <p style="margin-right: 0px;">
        {{author?.name}}
        <span *ngIf="author" style="float: right;">
          {{aSermon?.date}}
        </span>
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
