<ion-header>

  <ion-navbar color="theme">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Events</ion-title>

    <ion-buttons end>
      <button ion-button icon-only [color]="isTheme ? 'theme' : 'dark'" (click)="presentPopover($event)">
        <ion-icon *ngIf="!loggedIn" [color]="menuIconColor" class="menuicon" name="more"></ion-icon>
        <ion-avatar *ngIf="loggedIn">
          <img [src]="profileData?.googleProfilePic">
        </ion-avatar>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid no-padding>
    <ion-row style="padding:0px;margin:0px;" wrap>
      <ion-col col-12 col-sm-6 col-md-3 *ngFor="let anEvent of events" >

        <ion-card (click)="goToEvent(anEvent.id, anEvent.slug, anEvent.title.rendered)">
          <ion-card-header>
            {{anEvent?.title.rendered}}
          </ion-card-header>
          <ion-card-content>
            <div [innerHTML]="anEvent?.excerpt.rendered">

            </div>
            <br />
            <p *ngIf="author" style="margin-right: 0px;">
              {{author?.name}}
              <span style="float: right;">
                {{anEvent?.date}}
              </span>
            </p>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
